# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive variables
*.tfvars
*.tfvars.json

# Mac
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# IDE
.vscode/
.idea/